{% extends "inandout/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}


<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>



<!-- 
{% if blog_list %}
    <ul>
    {% for blog in blog_list %}
    	{% if blog.is_active %}
        	<li><a href="../blog_detail/{{ blog.id }}/">{{ blog.title }}</a></li>
    	{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No blog are available.</p>
{% endif %} -->


{% if blog_list %}
    {% for blog in blog_list %}
    	{% if blog.is_active %}
    		
            {% include 'inandout/blog_template.html' %} 

        	
    	{% endif %}
    {% endfor %}
{% else %}
    <p>No nodes are available.</p>
{% endif %}

{%endblock%}

<!-- ### -->