{% extends "inandout/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}


<!-- 	<p>
		The blog is_active: {{ blog.is_active }}<BR>
		The blog title: {{ blog.title }}<BR>
		the blog created: {{blog.created}}<BR>
		The blog preview_text: {{ blog.preview_text|linebreaks }}<BR>
		The blog long_text: {{ blog.long_text|linebreaks }}<BR>
		The blog main_image: <img src="{{ blog.main_image.url }}"/><BR>
		The blog preview_image: <img src="{{ blog.preview_image.url }}"/><BR>
		
###

	</p> -->

	{% if blog.is_active %}
		<div class="blog-full-entry">
			
				<img class="blog-full-entry-image"
					src="{{ blog.main_image.url }}" alt="{{blog.title}}"/>
			

			<h1>{{ blog.title }} <div style="font-size:10px; float:right;">{{ blog.created }}</div></h1>

			<h3> By: 
				{% if blog.fb_author_link != " " %}

					<a href="{{ blog.fb_author_link }}">{{ blog.author }}</a>

				{% else %}

					{{ blog.author }}

				{% endif %}

			</h3>

			<p>
				{{ blog.html_text|safe }}
			</p>
		</div>
	{% else %}

		<h1>
			This entry is not available.<BR>
			Please <a href="http://{{request.get_host}}">check back</a> again!

		</h1>

	{% endif %}


{%endblock%}