{% extends "inandout/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}


	<p>
		Contact Us



		


	</p>

	{% for object in object_list %}

    <div class="front-page-object" id="object-{{ object.priority }}-{{ object.k }}"
      style="width:{{ object.width }};">
    

      {% for image in object.images.all%}
        <img class="front-page-object-image" src="{% static image.image.url %}"/>
      {% endfor %}

      {% for text in object.texts.all%}
        {{ text.text }}
      {% endfor %}
    </div>

  {% endfor %}
    
    <div class="clear"></div>
    
    <div class="line"></div>
	<!-- node desc is: {{ node.desc }}</p>
	<p>Node has: 
	<BR>
	{%for child in node.node_set.all%}
	<BR>
		Name: <a href="../{{child.pk}}">{{child.name}}</a><BR>
		Desc: {{child.desc}}<BR>

	{%endfor%}
	<Br><BR>
	Add a <a href="new_sub_node/">New Property</a>

	</p>


	<p>
	Glue:<BR>

	{%for glue in node.node_parent.all%}

		Name: {{glue.name}}<BR>
		Parent: <a href="../{{glue.parent.pk}}">{{glue.parent.name}} (aka *this)</a><BR>
		Child: <a href="../{{glue.child.pk}}">{{glue.child.name}}</a><BR>

	{%endfor%}	


	{%for glue in node.node_child.all%}

		Name: {{glue.name}}<BR>
		Parent: <a href="../{{glue.parent.pk}}">{{glue.parent.name}}</a><BR>
		Child: <a href="../{{glue.child.pk}}">{{glue.child.name}} (aka *this)</a><BR>

	{%endfor%}	



	</p>

 -->
	{%endblock%}