

{% load static %}
{% load staticfiles%}

{% if object.frontpage and object.type == "Product" %}

  {% include 'inandout/product_template.html' with product=object %} 

{% elif object.frontpage and object.type == "Blog" %}

  {% include 'inandout/blog_template.html' with blog=object %} 

{% elif object.frontpage and object.type == "Testamonial" %}

  {% include 'inandout/testamonial_template.html' with testamonial=object %} 

{% else %}

  

    {% if object.htmls.all %}

      <div class="front-page-html-object" id="object-html-{{ object.priority }}-{{ object.pk }}"
            style="width:{{ object.width }};">
        <!-- {% for html in object.htmls.all %}
          {{ html.content|safe }}
        {% endfor %} -->
        {% with object.htmls.all|first as html %}
            {{ html.content|safe  }}
        {% endwith %}
      </div>
      
    {% else %}

    <div class="front-page-object" id="object-{{ object.priority }}-{{ object.pk }}"
    style="width:{{ object.width }};">

      {% for image in object.images.all%}
        <div class="img-hover-zoom">
          <img class="front-page-object-image" src="{% static image.image.url %}"/>
        </div>
      {% endfor %}

      {% for text in object.texts.all%}
        {{ text.text|linebreaksbr }}
      {% endfor %}

      {% for link in object.links.all%}
      	{% if link.is_youtube %}
          <style>
            .video-container {
              position:relative;
              padding-bottom:56.25%;
              padding-top:30px;
              height:0;
              overflow:hidden;
            }
            .video-container iframe, .video-container object, .video-container embed {
              position:absolute;
              top:0;
              left:0;
              width:100%;
              height:100%;
            }
          </style>
      		<div class="video-container">
            <embed src="{{ link.embed }}?autoplay=true">
          </div>
      	{% else %}
        	<a href="{{ link.link }}">{{ link.link }}</a>
      	{% endif %}
      {% endfor %}

    </div>
    {% endif %}

  

<!-- ### -->

{% endif %}