

{% load static %}
{% load staticfiles%}


 <style type="text/css">
    #product-cool-object-{{product.id}}:after{
      background-image: url('{% static product.background_image.url %}');
      background-color: {{product.background_and_text_color}};
     }

    #product-list-cool-object-text-{{product.id}}{
      color: {{product.background_and_text_color}};
    }
</style>

<div class="product-list-cool-object img-hover-zoom" 
    id="product-cool-object-{{product.id}}">
    <a href="{{ product.amazon_link }}">
    <img class="product-list-cool-object-image" src="{% static product.main_image.url %}"/>
        <P class="product-list-cool-object-text"
            id="product-list-cool-object-text-{{product.id}}">
            {{ product.short_name }}
        </P>
    </a>
</div>

