{% extends "inandout/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}


<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>





<!-- 
{% if product_list %}
    <ul>
    {% for product in product_list %}
    	{% if product.is_active %}
        	<li><a href="../product_detail/{{ product.id }}/">{{ product.short_name }}</a></li>
    	{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No nodes are available.</p>
{% endif %}
 -->
<h1>Regular Appearance</h1>

{% if product_list %}
    {% for product in product_list %}
    	{% if product.is_active %}
    		<div class="product-list-object" id="product-object-{{product.brand}}-{{product.id}}">
    			<a href="../product_detail/{{ product.id }}/">
    			<img class="front-page-object-image" src="{% static product.main_image.url %}"/>
    				<h1 style="text-align: center;">{{ product.short_name }}</h1>
    			</a>
    		</div>
        	
    	{% endif %}
    {% endfor %}
{% else %}
    <p>No nodes are available.</p>
{% endif %}



    <div class="clear"></div>
    
<h1>Product Custom Color</h1>




{% if product_list %}
    {% for product in product_list %}
        {% if product.is_active %}
            <style type="text/css">
                #product-cool-object-{{product.id}}:after{
                  background-image: url('{% static product.background_image.url %}');
                  background-color: {{product.background_and_text_color}};
                 }

                #product-list-cool-object-text-{{product.id}}{
                  color: {{product.background_and_text_color}};
                }
            </style>
            <div class="product-list-cool-object" 
                id="product-cool-object-{{product.id}}">
                <a href="../product_detail/{{ product.id }}/">
                <img class="product-list-cool-object-image" src="{% static product.main_image.url %}"/>
                    <P class="product-list-cool-object-text"
                        id="product-list-cool-object-text-{{product.id}}">
                        {{ product.short_name }}
                    </P>
                </a>
            </div>
            
            
        {% endif %}
    {% endfor %}
{% else %}
    <p>No nodes are available.</p>
{% endif %}



    <div class="clear"></div>
<h1>Product Custom Color with Gradients</h1>

{% if product_list %}
    {% for product in product_list %}
        {% if product.is_active %}
            <style type="text/css">
                #product-cool-object-gradient-{{product.id}}:after{
                  background-image: url('{% static product.background_image.url %}');
                  background-color: {{product.background_and_text_color}};

                  /* fallback */
                  background-repeat: repeat-x;

                  /* Safari 4-5, Chrome 1-9 */
                  background-image: url('{% static product.background_image.url %}'), -webkit-gradient(linear, 0% 0%, 0% 100%, from({{product.background_and_text_color}}), to(#fff));

                  /* Safari 5.1, Chrome 10+ */
                  background-image: url('{% static product.background_image.url %}'), -webkit-linear-gradient(top, #fff, {{product.background_and_text_color}});

                  /* Firefox 3.6+ */
                  background-image: url('{% static product.background_image.url %}'), -moz-linear-gradient(top, #fff, {{product.background_and_text_color}});

                  /* IE 10 */
                  background-image: url('{% static product.background_image.url %}'), -ms-linear-gradient(top, #fff, {{product.background_and_text_color}});

                  /* Opera 11.10+ */
                  background-image: url('{% static product.background_image.url %}'), -o-linear-gradient(top, #fff, {{product.background_and_text_color}});
                
                 }

                #product-list-cool-object-text-{{product.id}}{
                  color: {{product.background_and_text_color}};
                }
            </style>
            <div class="product-list-cool-object" 
                id="product-cool-object-gradient-{{product.id}}">
                <a href="../product_detail/{{ product.id }}/">
                <img class="product-list-cool-object-image" src="{% static product.main_image.url %}"/>
                    <P class="product-list-cool-object-text"
                        id="product-list-cool-object-text-{{product.id}}">
                        {{ product.short_name }}
                    </P>
                </a>
            </div>
            
            
        {% endif %}
    {% endfor %}
{% else %}
    <p>No nodes are available.</p>
{% endif %}



    <div class="clear"></div>


{%endblock%}