{% extends "inandout/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}


	<p>
		The product is_active: {{ product.is_active }}<BR>
		The product brand: {{ product.brand }}<BR>
		The product short_name: {{ product.short_name }}<BR>
		The product long_name: {{ product.long_name|linebreaks }}<BR>
		The product main_image: <img src="{% static product.main_image.url %}"/><BR>
		The product long_text: {{ product.long_text|linebreaks }}<BR>
		The product amazon_link: <a href="{{ product.amazon_link }}">
			Click Here!</a><BR>




	</p>
	<!-- node desc is: {{ node.desc }}</p>
	<p>Node has: 
	<BR>
	{%for child in node.node_set.all%}
	<BR>
		Name: <a href="../{{child.pk}}">{{child.name}}</a><BR>
		Desc: {{child.desc}}<BR>

	{%endfor%}
	<Br><BR>
	Add a <a href="new_sub_node/">New Property</a>

	</p>


	<p>
	Glue:<BR>

	{%for glue in node.node_parent.all%}

		Name: {{glue.name}}<BR>
		Parent: <a href="../{{glue.parent.pk}}">{{glue.parent.name}} (aka *this)</a><BR>
		Child: <a href="../{{glue.child.pk}}">{{glue.child.name}}</a><BR>

	{%endfor%}	


	{%for glue in node.node_child.all%}

		Name: {{glue.name}}<BR>
		Parent: <a href="../{{glue.parent.pk}}">{{glue.parent.name}}</a><BR>
		Child: <a href="../{{glue.child.pk}}">{{glue.child.name}} (aka *this)</a><BR>

	{%endfor%}	



	</p>

 -->
	{%endblock%}